nav {
   padding: 20px;
}

.dot {
   height: 35px;
   width: 35px;
   background-color: #3683F0;
   border-radius: 50%;
   display: inline-block;
}
.bellicon {
   display: inline-block;
   padding-top: 8px;
   padding-left: 8px;
   width: 25px;
   height: auto;
}
.homeicon {
   display: inline-block;
   padding-top: 10px;
   padding-left: 8px;
}

.toolsicon {
   display: inline-block;
   padding-top: 10px;
   padding-left: 8px;
}

.moreicon {
   position: absolute;
   width: 3.03px;
   height: 2.99px;
   left: 1356px;
   top: 35px;
   background: #3683F0;
}

.dot1 {
   height: 5px;
   width: 5px;
   background-color: #3683F0;
   border-radius: 50%;
   display: inline-block;
   margin: 1px;
}

.more {
   display: flex;
   flex-direction: column;
   margin-top: 9px;
}

.nav {
   display: flex;
   flex-direction: row;
}

.div2 {
   margin-top: -30px;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
}

.icons {
   width: 15%;
   display: flex;
   justify-content: space-around;
}

